RewriteEngine On
RewriteBase /l/

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ensure the CSS and other static files are loaded over HTTPS
<IfModule mod_headers.c>
    Header always set Content-Security-Policy "upgrade-insecure-requests;"
</IfModule>

# Redirect the clean URL to the index.php file with a unique_link parameter
RewriteCond %{REQUEST_URI} ^/l/([a-zA-Z0-9]+) [NC]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([a-zA-Z0-9]+)$ index.php?unique_link=$1 [L]

# Handle URLs with query parameters
RewriteCond %{REQUEST_URI} ^/l/([a-zA-Z0-9]+) [NC]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-zA-Z0-9]+)$ index.php?unique_link=$1 [L,QSA]
